

<div class="sectional color1">
            <div class="container">
                <div class="row section">
                    <div class="col-lg-12">
                        <div class="well color1">
                            <div class="row">
                                <div class="col-lg-4 col-md-5">
                            
                                    <i class="fa fa-pagelines fa-6"></i> 
                                </div>
                                <div class="col-lg-4 col-lg-offset-4">
                                    <h4>About the author</h4>
                                    <p class="clearfix">I'm web developer. That means I run a small web-based business that makes the world better. My main project is credmine.tk, the simplest profiling tool on earth. I'm super-close to launching a from-the-ground-up rewrite of it. Can't wait to show it to you. I live in Bangalore & Hubli with my parents and three sisters, in a house we built. I love meeting up with People From the Internet, so if that sounds like you, let's hang out sometime.</p>
                                    <p>Follow @<a href="http://twitter.com/manjumk"> Manjunath on Twitter</a> <i class="fa fa-twitter"></i></p>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div><!--row-->
            </div>
        </div>