{% include header.html %}

      <div class="container">
      		<div class="sectional color1">

			  <div class="row section">
			  	<div class="container">
			  		<div class="col-lg-5 col-md-5">
			  			<h1 class="section-headline">{{ page.title }}</h1>
			  		</div>
			  		<div class="col-lg-7 col-md-7">
			  			<p class="muted">{{ page.date | date_to_long_string }}</p>

						{{ content }}
			  		</div>
					
			  	</div>
				
			  </div>

			  
				
			  </div>
			</div>
		</div>
	  {% include sidebar.html %}
{% include footer.html %}